#sales-table {
   margin: 0px;
   background-color: #ffffff;
   height: 50%;
}

#sales-table-component {
      max-width: 100%;
      max-height: 40vh;
      overflow: auto;
      /* border: 10px solid #ccc; */
      /* padding: 10px; */
      box-sizing: border-box;
}